<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- <img src="../../asset/bg-slide/all-nails-or-luxury-handmade-press-on-nails-or-reusable-and-durable-fancyb-press-on-nails.jpg  "alt="">
  <img src="../../asset/bg-slide/beautiful-composition-spa-bath-concept-with-copyspace_23-2148094319.jpg  "alt="">
  <img src="../../asset/bg-slide/close-up-nail-art-table_1048944-11034075.jpg "alt="">
  <img src="../../asset/bg-slide/dripping-nail-polish-pink-velvet-background_708636-801.jpg  "alt="">
  <img src="../../asset/bg-slide/human-finger-touching-sequins-capsule-pink-background_23-2147827924.jpg "alt="">
  <img src="../../asset/bg-slide/ig-nail-trend-set-bloody-mary-nail-designs.jpg  "alt="">
  <img src="../../asset/bg-slide/nail-color-samples-different-colors-collection-artificial-finger-nails-painted-different-coolors-manicure-swatches_85672-1008.jpg "alt="">
  <img src="../../asset/bg-slide/original_e768ce9d-7aa4-43cf-9dcb-378649e31877-564735.jpg  "alt=""> -->
  <!-- <img src="../../asset/bg-slide/  "alt=""> -->
  <!-- <img src="../../asset/christmas/S8.jpeg" alt="" /> -->
  <!-- <img src="../../asset/christmas/S1.jpeg" alt="" /> -->
  <!-- <img src="../../asset/crosses/C1.jpeg" alt="" /> -->
  <!-- <img src="../../asset/pink/P1.jpeg" alt="" /> -->
  <!-- <img src="../../asset/spring/Sp1.jpeg" alt="" /> -->
  <!-- <img src="../../asset/stylish/St1.jpeg" alt="" /> -->
  <!-- <img src="../../asset/summer/Su1.jpeg" alt="" /> -->
   <img src="../../asset/All-images/A1.jpeg" alt="">
   <img src="../../asset/All-images/C1.jpeg" alt="">
   <img src="../../asset/All-images/P1.jpeg" alt="">
   <img src="../../asset/christmas/S1.jpeg" alt="">
   <img src="../../asset/All-images/Sp1.jpeg" alt="">
   <img src="../../asset/All-images/St1.jpeg" alt="">
   <img src="../../asset/All-images/Su1.jpeg" alt="">

   <img src="../../asset/artist simple/16.jpeg" alt="">
   phrase ="Classic french tips with a modern twist"
 phrase ="Sparkling gradient effect with fine glitter"
  phrase ="Elegant marble design with gold accents"
   phrase ="Soft pastel colors with delicate floral art"
   phrase ="Classic red with glossy finish"
   phrase ="Unique hand-painted abstract designs" 
</html>